{% macro render_sidebar_item(item) %}
{%- set item_route = item.route[1:] if item.route[0] == '/' else item.route -%}
{%- set icon_map = {
    '/portal': 'home',
    '/customer-order': 'plus',
    '/customer-pending-approvals': 'clock',
    '/customer-ledger': 'book',
    '/customer-invoice': 'file-text',
    '/customer-support-request': 'mail',
    '/me': 'user'
} -%}
{%- set icon = icon_map.get(item.route) or 'file' -%}
<li class="sidebar-item">
	<a href="{{ item.route }}" class="{{ 'active' if pathname == item_route or pathname == item.route else '' }}">
		<svg class="icon icon-md mr-2" style="width: 16px; height: 16px;">
			<use href="#icon-{{ icon }}"></use>
		</svg>
		<span class="sidebar-title">{{ _(item.title) or _(item.label) }}</span>
	</a>
</li>
{% endmacro %}

{% macro render_sidebar_items(items) %}
{%- if items and items | len > 0 -%}
<ul class="list-unstyled sidebar-menu-list">
	{% for item in items -%}
	{{ render_sidebar_item(item) }}
	{%- endfor %}
</ul>
{%- endif -%}
{% endmacro %}

<div class="web-sidebar bhairav-portal-sidebar">
	<div class="sidebar-header">
		<h5 class="portal-sidebar-heading">Bhairav Portal</h5>
	</div>
	<div class="sidebar-items">
		{{ render_sidebar_items(sidebar_items) }}
		
		{% if frappe.user != 'Guest' %}
		<div class="sidebar-user-section">
			<ul class="list-unstyled sidebar-menu-list">
				<li class="sidebar-item">
					<a href="/me" class="">
						<svg class="icon icon-md mr-2" style="width: 16px; height: 16px;">
							<use href="#icon-user"></use>
						</svg>
						<span class="sidebar-title">{{ _("My Account") }}</span>
					</a>
				</li>
			</ul>
		</div>
		{% endif %}
	</div>
</div>

<script>
	frappe.ready(function () {
		$('.bhairav-portal-sidebar .sidebar-link').each(function () {
			let current_href = window.location.pathname;
			let link_href = $(this).attr('href');
			if (link_href && current_href.includes(link_href)) {
				$(this).addClass('active');
			}
		});
	});
</script>
